.feature {
    width: 300px;
    height: 280px;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
}
.feature .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 280px;
    background-color: rgba(204, 204, 204, 0);
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), 0%, rgba(0, 0, 0, 0.7), 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}
.feature img {
    display: block;
    width: 300px;
    height: 280px;
}
.feature a {
    display: block;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}
.feature h3 {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    /*margin: -61px auto 0;*/

    position: absolute;
    bottom: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 52px;
    width: 87%;
    left: 6.5%;
    line-height: 26px;
    display: block;
}
.feature h5 {
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    /* margin: -61px auto 0; */
    position: absolute;
    bottom: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 245px;
    width: 87%;
    left: 70%;
    line-height: 26px;
    display: block;
}
.feature:hover {
    outline: solid 2px #33a9d8;
}

.next {
    text-align: center;
}

a.page-btn {
    background-color: #fdfdfd;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    color: #444;
    display: inline-block;
    font-size: 17px;
    height: 60px;
    line-height: 60px;
    width: 280px;
}