.nors {
    height: 215px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    font-size: 20px;
}

.page {
	text-align: center;
	padding: 10px 0 30px;
	white-space: nowrap;
	font-size: 12px;
}

.page a, .page span {
	display: inline-block;
	padding: 1px 11px;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	vertical-align: middle;
}

.page a:hover {
	text-decoration: none;
	border: 1px solid #ddd;
	padding: 0 10px;
}

.page a.cur {
	color:#232323;
}

.page span {
    cursor: default;
}

.item {
    height: 215px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}

.item:hover {
    outline: solid 1px #33a9d8;
}

.item img {
    position: absolute;
    left: 0;
    display: block;
    width: 230px;
    height: 215px;
}

.item .title {
    font-size: 23px;
    word-wrap: break-word;
    height: 1.85;
}

.item .date {
    font-size: 20px;
    vertical-align: middle;
    height: 1.75;
}

.item .summary {
    margin-top: 20px;
    font-size: 15px;
}

.item a {
    text-decoration: none;
    color: #000000;
}