.item {
    height: 190px;
    position: relative;
    margin-top: 40px;
    overflow: hidden;
}

.item img {
    display: block;
    width: 180px;
    height: 170px;
}

.item .title {
    font-size: 20px;
    height: 1.65;
}

.item .date {
    font-size: 17px;
    height: 1.65;
}

.item .summary {
    margin-top: 15px;
}