<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>知乎日报 - 满足你的好奇心</title>
    <meta charset="utf-8">
    <meta name="description" content="知乎日报以独有的方式为你提供最高质、最深度、最有收获的阅读体验。每天 3 次，每次 7 分钟，获取最值得看的新闻资讯和深度解读。" />
    <meta name="keywords" content="知乎日报,知乎日报网页版,zhihuribao,zhihudaily,知乎,支护日报,知道日报" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/day.css">
    <link rel="stylesheet" href="../static/css/search.css">
    <base target="_self">
</head>

<body class="home">

    <div class="header navbar-fixed-top">
        <div class="container-fixed-width clearfix">
            <h1 class="logo">
                <a href="/" title="知乎" class="link-logo" target="_self"></a>
            </h1>
        </div>
    </div>

    <div class="main-content">
        <div class="container-fixed-width">
            <!-- whitespace -->
            <div style="margin-top: 80px;" class="row"></div>
            <!-- search button-->
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <div class="input-group">
                        <input type="search" class="form-control input-lg" placeholder="{{ escape(keywords) }}">
                        <span class="input-group-btn">
                            <button class="btn btn-lg btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            {% for hit in hits%}

            <div class="row item">
                <div class="col-md-3 col-md-offset-1">
                    <img src="{{ escape(hit['image_public_url']) }}">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-10 title text-left">{{ escape(str(hit['title'])) }}</div>
                        <div class="col-md-2 date text-right">{{ escape(hit['date']) }}</div>
                    </div>

                    <div class="summary">{% raw hit['summary'] %}</div>
                </div>
            </div>
            {% end %}
        </div>
    </div>

    <div class="footer">
        <br><div class="txt">内容转载自<a href="http://daily.zhihu.com/">知乎日报</a>，项目开源于<a href="https://github.com/JobsDong/zhihudaily">Github</a> </div>
    </div>

</body>
</html>