<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>知乎日报 - 满足你的好奇心</title>
    <meta charset="utf-8">
    <meta name="description" content="知乎日报以独有的方式为你提供最高质、最深度、最有收获的阅读体验。每天 3 次，每次 7 分钟，获取最值得看的新闻资讯和深度解读。" />
    <meta name="keywords" content="知乎日报,知乎日报网页版,zhihuribao,zhihudaily,知乎,支护日报,知道日报" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/story.css">
    <base target="_blank">
</head>

<body class="home">

    <div class="global-header">
        <div class="main-wrap">
            <a href="" target="_self" title="知乎日报"><i class="web-logo"></i></a>
        </div>
    </div>

    <div class="img-wrap">
        <h1 class="headline-title">卖衣服的新手段：把耐用品变成「不停买新的」</h1>
        <span class="img-source">图片:Angel Abril Ruiz / CC BY</span>
        <img alt="卖衣服的新手段：把耐用品变成「不停买新的」" src="http://p4.zhimg.com/30/59/30594279d368534c6c2f91b2c00c7806.jpg">
        <div class="img-mask"></div>
    </div>

<div class="main-wrap content-wrap">
<div class="headline">

<div class="img-place-holder"></div>


<div class="headline-background">
<a class="headline-background-link" href="http://finance.ifeng.com/a/20141009/13169264_0.shtml">
<div class="heading">相关新闻</div>
<div class="heading-content">超分辨率荧光显微技术成就突出 美德科学家分享诺贝尔化学奖</div>
<i class="icon-arrow-right"></i>
</a>
</div>

</div>
<div class="content-inner">




<div class="question">
<h2 class="question-title">如何通俗地理解 2014 诺贝尔化学奖「超分辨荧光显微技术」的技术原理及其带来的改变？</h2>

<div class="answer">

<div class="meta">
<img class="avatar" src="http://pic3.zhimg.com/8aa67f292_is.jpg">
<span class="author">方非，</span><span class="bio">神经生物学民工，伪码农，关注所有 scale-free 网络。</span>
</div>

<div class="content">
<p>第一次写同时面向非专业和专业人士的科普长文，希望没看明白的同学留言指出，我尽量修改，谢谢！</p>
<p>2014 年的诺贝尔理综奖颁发给了&ldquo;超分辨荧光显微技术&rdquo;。也许接下来的几天，媒体会关注 Stefan Hell、Eric Betzig 二人的传奇经历，或者另一名华人女科学家与该奖项失之交臂的遗憾。但是八卦之外，这项成果背后的科学本身也非常有意思。</p>
<p>这里面有三个关键词：&ldquo;超分辨&rdquo;、&ldquo;荧光&rdquo;和&ldquo;显微技术&rdquo;，我希望能够解释清楚以下几个问题，尤其是后两个问题：</p>
<p><strong>1. 为什么需要（光学）显微技术？<br />2. 为什么光学显微镜的分辨率存在理论极限？<br />3. 用怎样的方法可以突破这个理论极限以达到&ldquo;超分辨&rdquo;？为什么这个理论极限可以被突破？<br />5. 为什么非得是荧光显微技术，而非普通的明场（透射光）显微技术？</strong></p>
<p><strong>1. 采样定理与显微镜</strong></p>
<p>我们用肉眼观察或者用相机拍摄一个物体时，物体上的每一个细微的点都会在眼睛的视网膜或是相机的感光芯片上成像。那么我们为什么不能看到细菌等微小的东西，为什么不能把照片无限放大以看清远处树木上面的每一片叶子呢？</p>
<p>这个问题的答案比较简单：因为组成视网膜的每一个感光细胞（视杆细胞和视锥细胞）、相机芯片上的每一个感光元件（CCD、CMOS 等）都是有大小的。比如视网膜中央凹区域的视锥细胞直径平均约为 5 微米。而由于奈奎斯特 - 香农采样定理的限制，视网膜上能分清的两个相邻像点的距离是视锥细胞直径的两倍，即 10 微米。再结合眼球的构造，大致可以推断出，在距离眼睛 25 厘米的位置，我们能分辨物体上相距为 80 微米的两个点，换算成点阵密度就是大约 320 ppi，这也是苹果所谓&ldquo;视网膜屏&rdquo;分辨率的来历。</p>
<p>如果要观察小于 80 微米的物体，比如细菌，就需要先将物体放大，再用眼睛或者相机观察。现代光学显微镜的构造其实非常简单，样品放置在物镜的焦点处，从样品上发射或散射的光经过物镜变成平行（准直）光，再经过一个结像透镜，然后会聚到相机的感光芯片上成像。</p>
<p>按照前面的方法来推算，要区分物体上相距为 200 纳米的两个点，如果使用科研级相机，比如最近火起来的 sCMOS 相机（每个感光像素尺寸为 6.5 微米），只需要使用放大倍率为 65 倍的物镜就足够了。</p>
<p>那么是否可以通过提高物镜的放大倍率来观察低于 200 纳米的物体，比如细胞里面微管呢？</p>
<p>答案是不可以。</p>
<p><strong>2. 光学衍射极限</strong></p>
<p>由于光是一种电磁波，具有衍射和干涉的特性。</p>
<p><img class="content-image" src="http://pic3.zhimg.com/a791d2bafc3a149bcd76685572725ba0_b.jpg" alt="" /></p>
<p>图 1. 光学显微镜简化示意图</p>
<p>如上面的简图所示，紫色箭头表示的物体 PQ 经过物镜等之后在相机上成像。由于光的衍射，物体上的点如 P、Q，在相机上并不是单独的点，而是一个个有一定大小的斑，被称为夫琅禾费衍射斑，如右侧的同心圆所示。根据光学中的瑞利判据，1873 年，德国物理学家、卡尔蔡司公司的恩斯特&middot;阿贝（Ernst Abbe）推算出，显微镜能分辨的物体上两点 P、Q 的最小距离 h 为：</p>
<p><img class="content-image" src="http://zhihu.com/equation?tex=h+%3D+0.61+%5Clambda+%2F+%28n+%2A+sin%5Ctheta%29" alt="" /></p>
<p>这个公式就是光学显微镜的分辨率公式，或称为光学衍射极限。（注意此处的分辨率与通常说的显示器分辨率含义不同）</p>
<p>其中，<img class="content-image" style="font-size: 16px; line-height: 1.5;" src="http://zhihu.com/equation?tex=%5Clambda" alt="" />&nbsp;为光的波长，n 为物方的折射率，</p>
<p><img class="content-image" src="http://zhihu.com/equation?tex=%5Ctheta" alt="" />&nbsp;为物体与物镜边缘连线和光轴的夹角。如上图所示。为方便起见，其中的&nbsp;<img class="content-image" style="font-size: 16px; line-height: 1.5;" src="http://zhihu.com/equation?tex=%28n+%2A+sin%5Ctheta%29" alt="" />&nbsp;通常称为数值孔径，简写为 NA。</p>
<p>摄影领域常用 f/# 或称光圈值来描述镜头，光圈值与数值孔径可以相互换算。对于一枚光圈为 2.0 的镜头来说，数值孔径为 0.25，其分辨能力约 1 um。</p>
<p>目前常用的高倍物镜 NA 最大为 1.49，可以算出，对于可见光，比如波长 500 纳米的绿光，显微镜的分辨率约为 200 纳米。所以，即使再提高物镜的放大倍率，也不能提高显微镜的分辨率。</p>
<p>而 200 纳米这个数值也就通常被人称作衍射极限。</p>
<p><strong>2.5. 光学衍射极限的动态范围</strong></p>
<p>从上面的公式可以看到，光学衍射极限其实并不是一个具体的数值，如果改变上述公式中的参数，是可以有效提高分辨率的。</p>
<p>(1) 光的波长&nbsp;<img class="content-image" style="font-size: 16px; line-height: 1.5;" src="http://zhihu.com/equation?tex=%5Clambda" alt="" /></p>
<p>可见光波长范围是 400~760 nm，如果使用更短波长的光，比如紫外线，理论上可以提高分辨率。但是紫外线能量高，易损伤样品，而且透射能力低，很难透过物镜。人们想到了使用高能电子束代替光束，比如 200 keV 的电子对应的的布罗意波长为 0.0025 纳米 （2.5 *&nbsp;<img class="content-image" style="font-size: 16px; line-height: 1.5;" src="http://zhihu.com/equation?tex=10%5E%7B-12%7D+" alt="" />米）。虽然 NA 相对较小（<img class="content-image" style="font-size: 16px; line-height: 1.5;" src="http://zhihu.com/equation?tex=%5Ctheta" alt="" />&nbsp;约为 10&deg;），依然可以达到 0.1 纳米的理论分辨率。这就是电子显微镜的基本原理。</p>
<p>严格的说，电镜的分辨率依然限制在光学衍射极限的范围内。只不过这里的&ldquo;光学&rdquo;是&ldquo;电子光学&rdquo;。</p>
<p>(2) 物方折射率 n</p>
<p>空气折射率为 1，水的折射率 1.33，玻璃折射率 1.58。目前主要的物镜都是玻璃材质，并在物镜与样品之间用与玻璃折射率一致的油来浸润，以提高分辨率。</p>
<p>2012 年 Olympus 发布了一款 NA 高达 1.7 的物镜，光学部分使用蓝宝石（折射率约 1.76）制作，并搭配高折射率的镜油（目测成分应该是二碘甲烷 Methylene iodide）。</p>
<p>也许在未来能发明比玻璃更好的材料，折射率更高、易于制作透镜、并且能找到高折射率的油，这样就能进一步提高分辨率。</p>
<p>比如用钻石（折射率大约 2.42）打造一枚土豪物镜，并找到同样折射率的透明液体，分辨率可以提高到 1.5 倍。当然，由于成本及工艺因素，目前尚不现实。</p>
<p>(3) 孔径角&nbsp;<img class="content-image" style="font-size: 16px; line-height: 1.5;" src="http://zhihu.com/equation?tex=%5Ctheta" alt="" />&nbsp;</p>
<p>看起来&nbsp;<img class="content-image" style="font-size: 16px; line-height: 1.5;" src="http://zhihu.com/equation?tex=%5Ctheta" alt="" />&nbsp;的最大值是 90&deg;，但是如果在样品的上下两面都放置物镜，相机同时收集这两个物镜中的光呢？</p>
<p>这种方法就是 Stephen Hell 在 1991 年发明的 4 Pi。此时衍射极限的公式稍有变化，分辨率能提高一倍。</p>
<p>简单理解，4 Pi 其实是收集了物体发出去的光里面包含的更多信息。另一种&ldquo;结构照明成像（SIM）" 很聪明地通过类似摩尔纹的原理，获取到更多信息，也可以将分辨率提高一倍。解释原理需要用到傅里叶光学，在此就不详述了。</p>
<p>那么问题来了，是否还有办法真正突破衍射极限呢？</p>
<p><strong>3. 突破光学衍射极限</strong></p>
<p>前面的公式推导过程中，有两个隐含条件。</p>
<p>第一个隐含条件是需要用到夫琅禾费衍射，而它也是有条件的，它要求物镜与像平面之间的距离远远大于光的波长。这个条件称为远场条件。如果离物体足够近，衍射极限便不遵循上述公式。研究波长以内光传播特性的领域叫近场光学。</p>
<p>Eric Betzig 在 1986 年发明的近场扫描光学显微镜就是使用离物体远小于波长的光学探针来扫描物体，以达到超分辨的显微图像。</p>
<p><strong>4. 超分辨荧光成像</strong></p>
<p>另一个条件则非常隐蔽。这也是为什么本次诺奖会颁发给几乎没做过超分辨显微技术的 William Moerner 的原因。</p>
<p>首先简单插播一下荧光成像的原理：荧光分子（如获得 2008 年的诺贝尔理综奖的绿色荧光蛋白 GFP）在吸收一个高能量的短波长（如蓝光，称为激发光）跃迁到高能态之后，很快会发射一个低能量的长波长（如绿光，称为发射光）光子回到基态能级。</p>
<p>所以我们可以用蓝光照射样品上标记的 GFP，而接收其发射的绿光，来对物体进行成像。这样的一个好处就是图像对比度会非常高，只有带有 GFP 的部位会被成像，其它部位都是黑色。</p>
<p>每个荧光分子的发光是完全独立的。William Moerner 的工作就是推动了对单个分子的成像等研究。</p>
<p>回到前面说的第二个隐藏条件，它假定了物体上的两点 P、Q 同时发光，所以二者的衍射斑才会叠加在一起。如果 P、Q 是在不同的时间分别发光，那么每个点的衍射斑可以（通过点扩散函数）确定，于是可以通过拟合或者去卷积的方法来精确地定位到每个点的位置。那么也就不存在这样的衍射极限了。</p>
<p><strong>更进一步，广义地来说，只要是 P、Q 两点处在可以探测到的不同状态或是不同特征，那么就可以超越衍射极限。</strong>分辨率并不仅仅是关于波的，而是关于不同状态的！</p>
<blockquote>"Resolution is about waves and states." -- by Stefan Hell</blockquote>
<p>意识到了这一点，就可以发明很多种真正突破衍射极限的显微技术了。比如：</p>
<p>(1) 区分荧光分子的不同能态</p>
<p>受激发射耗损显微术（STED）：激发光周围套上一圈耗损光，使中心区域的荧光分子处于激发态发光，周围的分子处于耗损态不发光。这样可以使图 1 中的同心圆表示衍射斑变小，以此来区分两个相距在衍射极限以内的分子。这个方法由 Stefan Hell 在 1994 年发明。</p>
<p>随机光学重构显微术（STORM）、光活化定位显微术（PALM）、荧光活化定位显微术（fPALM）：它们的共同特征是使样品中每次仅有少量随机、离散的单个荧光分子发光，通过拟合，找出每个荧光分子中心点的位置。重复拍摄多张图片之后，就可以把所有荧光分子的位置叠加起来形成整幅图像。这些技术是由庄小威、Eric Betzig 等人分别在 2006 独立发明的。</p>
<p><img class="content-image" src="http://pic3.zhimg.com/9c6bcbeffc02100a7d028d71a81d3fe5_b.jpg" alt="" /></p>
<p>图 2. 庄小威发明的 STORM 超分辨光学成像效果图。a, b 为传统光学显微镜拍摄，c, d 为 STORM 技术拍摄并重构。b, d 为 a, c 的局部放大。图中的结构是细胞内的支架&mdash;&mdash;微管蛋白。图片来自 <a href="http://www.microscopyu.com/articles/superresolution/stormintro.html">Nikon MicroscopyU</a> 。</p>
<p>RESOLFT：由于 STED 中，耗损光需要很强的亮度，激光器造价昂贵，而且对样品损伤较大，如果借鉴 STORM/PALM/fPALM 的原理，不需要使周围分子处于&ldquo;耗损态&rdquo;，而是采用类似于 STORM 等的特殊荧光分子，用较弱的光强使其处于其它能态，也可以实现超分辨。</p>
<p>(2) 荧光分子闪烁的不同周期</p>
<p>SOFI：有些荧光分子在持续的激发光照射下，并不持续发光，而是会闪烁。由于每个荧光分子随机闪烁的时间不一样，可以通过连续拍摄一段录像，分析比较图像中每个像素点记录到的荧光强度在这段时间内的闪烁情况，来区分不同的荧光分子，实现超分辨。2009 年发明。</p>
<p>(3) 荧光分子的极性 / 朝向不同</p>
<p>SPoD/ExPAN：荧光分子都是偶极子，可以理解成有着不同的朝向。当用不同朝向的偏振光激发时，荧光分子的亮度也会随之不同。可以周期性地改变偏振光朝向，连续拍摄一段录像，分析比较图像中每个像素点荧光强度的周期变化情况，来区分不同荧光分子，实现超分辨。2014 年发明。</p>
<p>&hellip;&hellip;</p>
<p>STED/RESOLFT 的理论分辨率与激发光、耗损光强度有关；STORM 与单个荧光分子发射的光子数有光；SOFI/SPoD 与相机的像素尺寸有关（采样定理决定）。可以认为理论上可以达到任意高。</p>
<p>如果还能想到荧光分子的更多特性并加以利用，未来还会有越来越多的超分辨显微术被发明。</p>
<p>所以，可以看到，单分子荧光成像在超分辨成像中的作用。使用物理方法利用了荧光分子的化学特性而发明的超分辨显微成像，目前在生物学领域已经得到了广泛应用，因此，给它颁发一个诺贝尔理综奖也是名至实归的。</p>
</div>
</div>


<div class="view-more"><a href="http://www.zhihu.com/question/25854405">查看知乎讨论<span class="js-question-holder"></span></a></div>

</div>


</div>
</div>

    <div class="footer">
        <br><div class="txt">内容转载自 知乎日报 ，项目开源于Github ，感谢贴图库提供图片外链</div>
    </div>

</body>
</html>